.docker/postgres/data

/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage

/app/Domains/Deal/Framework/public/build
/app/Domains/Deal/Framework/public/hot
/app/Domains/Deal/Framework/public/storage

/app/Domains/IdentityAccess/Framework/public/build
/app/Domains/IdentityAccess/Framework/public/hot
/app/Domains/IdentityAccess/Framework/public/storage

/storage/*.key
/app/Domains/Deal/Framework/storage/*.key
/app/Domains/IdentityAccess/Framework/storage/*.key

/vendor

.env
/app/Domains/Deal/Framework/.env
/app/Domains/IdentityAccess/Framework/.env

.env.backup
/app/Domains/Deal/Framework/.env.backup
/app/Domains/IdentityAccess/Framework/.env.backup

.env.production
/app/Domains/Deal/Framework/.env.production
/app/Domains/IdentityAccess/Framework/.env.production

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
